/* Set padding to keep content from hitting the edges */
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #E8E8E8;
    overflow: hidden;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.navbar-custom {
    background-color: $primary-color;

     .navbar-brand,
     .navbar-text {
        color: white;
    }
}

p {
    line-height: 1.5;
}

.text-transform-270 {
    transform: rotate(270deg);
}

.application-img {
    position: absolute;
    bottom: 15px;
    right: 105px;
    font-size: 80px;
    color: $application-icon-color;
    opacity: 0.5;
}