.card-container {
    padding-top: 70px;
    margin-top:20px;
    .card {
        display: flex;
        width: 300px;
        height: 250px;
        margin: 5px;
        flex-direction: column;
        box-shadow: 3px 3px 5px $font-primary-color;

        .header {
            display: flex;
            justify-content: center;
            background: $primary-color;
            width: 100%;
            height: 120px;
            border-bottom: 1px solid darkgrey;
            padding-bottom: 15px;
            font-size: 1.4em;

            .profile-img-outline {
                height: 100px;
                width: 100px;
                background-color: white;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: -50px;
                border-color: lightgray;
            }

            .header-content {
                align-self: flex-end;
                color: white;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            flex: 1;

            .content {
                display: flex;
                flex-direction: row;
                margin: 10px;
                flex: 2;
                align-items: center;
                justify-content: center;

                p {
                    color: grey;
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: row;
            margin: 10px;
            flex: 1;
            border-top: 4px solid #f8f9fa;
            justify-content: space-between;
            align-items: center;

            span {
                i {
                    padding-right: 10px;
                    font-size: 1.2em;
                }
            }
        }
    }
}
