@model AddressBook.ServiceLayer.Overview.Models.Person


<div class="card-container">
    <div class="card">
        <div class="header">
            <div class="profile-img-outline">
            </div>
            <div class="header-content">
                <span>
                    <strong>@Model.FirstName</strong>
                </span>
            </div>
        </div>
        <div class="body">
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div><div class="footer">
                <span>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fas fa-at"></i>
                </span>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" data-id="1">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>