@model AddressBook.ServiceLayer.Overview.Models.Person


<div class="card-container">
    <div class="card">
        <div class="header">
            <div class="profile-img-outline">
            </div>
            <div class="header-content">
                <span>
                    <strong>@Model.Name</strong>
                </span>
            </div>
        </div>
        <div class="body">
            <div class="content">
                <p>
                    @Model.DateOfBirth
                </p>
            </div><div class="footer">
                      <span>
                          @foreach (var f in Model.Features)
                          {
                              <i class="@f.Icon"></i>
                          }
                      </span>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" data-id="1" data-button-type="card-button" data-ajax-modal-url="@Url.Action("Details", "Person", new {id = Model.Id })">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>