@model IList<AddressBook.ServiceLayer.Overview.Models.Person>

@{
    ViewBag.Title = "Home Page";

}
    <div class="entries">
        <div class="alpha" style="display:flex; flex-direction:row; justify-content:space-between;">
            <span>A</span>
            <span><i class="fas fa-angle-double-up"></i></span>
        </div>
        @foreach (var p in Model)
        {
            @Html.Partial("_PersonCard", p)
        }
    </div>
<div  id="modal-placeholder" class="my-modal hide" style="overflow-y:auto; ">
    <div style="display:flex; justify-content:center;">
        <div class="modal-modal hide" id="modal">
       

        </div>
    </div>
</div>
<div id="backdrop" class="backdrop hide"></div>

