@model IList<AddressBook.ServiceLayer.Overview.Models.Person>

@{
    ViewBag.Title = "Home Page";

}
    <div style="display:flex;flex-wrap: wrap;padding: 0px 60px;justify-content: start;">

        @foreach (var p in Model)
        {
            @Html.Partial("_PersonCard", p)
        }
        </div>
<div  id="modal-placeholder" class="my-modal hide" style="overflow-y:auto; ">
    <div style="display:flex; justify-content:center;">
        <div class="modal-modal hide" id="modal">
       

        </div>
    </div>
</div>
<div id="backdrop" class="backdrop hide"></div>